dist
node_modules
temp
tsdoc-metadata.json
coverage
protoc3
src/protocol/*_pb.*
test/codegen/*_pb.*
test/codegen/*_pb.*

**/*.log

src/protocol/index.ts
test/codegen/client.ts
test/benchmarks/compiled
perf
*.zip